In [1]:
from keras.models import Sequential
from keras import layers
from keras.layers import Dense, GRU, Activation
import keras
import keras.utils as ku
from keras.preprocessing import sequence
import numpy as np
import pandas as pd
import time

Using TensorFlow backend.
/home/yes/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/yes/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [21]:
model = Sequential()

model.add(layers.Dense(1000,activation='relu',input_shape=(100,3)))#,input_shape=(None,300)))
#model.add(layers.Dense(1000,activation='relu'))
#model.add(layers.Dense(500,activation='relu'))

model.add(layers.LSTM(256))#, return_sequences=True))
model.add(layers.Dropout(0.2))
#model.add(layers.Dropout(0.4))         
model.add(layers.Dense(100,activation="relu"))

In [22]:
#sgd = keras.optimizers.SGD(lr = 0.01, momentum=0.9)
#model.compile(loss='mean_squared_error', optimizer=sgd)
model.compile(loss='mean_squared_error',optimizer='rmsprop',metrics=["accuracy"])
#model.summary()

In [ ]:

for e in range(5):
    print(f"epoch: {e}")
    startTime = time.perf_counter()
    for z in range(100):
        j = 0
        while True:
            try:
                target = pd.read_csv(f"./VirusData3/sample{z}/Virus{j+1}.csv")
                d = pd.read_csv(f"./VirusData3/sample{z}/Virus{j}.csv")
                x = np.array(d['xcor'])
                x0 = np.zeros((100))
                y = np.array(d['ycor'])
                y0 = np.zeros((100))
                target = np.array(target['sick?']).astype('float').reshape(1,100)
                #print(np.shape(target))
                s = np.array(d['sick?']).astype('float')#.reshape(1,100)
                for i in range(100):
                    try:      
                        if np.isnan(x[i]):
                            pass
                        else:
                            x0[i] = float(x[i])/17
                    except:
                        pass
                    try:
                        if np.isnan(y[i]):
                            pass
                        else:
                            y0[i] = float(y[i])/17
                    except:
                        pass

                    if np.isnan(s[i]):
                        s[i] = 0
                    if np.isnan(target[0,i]):
                        target[0,i] = 0

                #inputs = np.concatenate((x0,y0,s)).reshape(300,)
                #print(target)
                inputs = np.zeros((1,100,3))
                inputs[0,:,0] = x0
                inputs[0,:,1] = y0
                inputs[0,:,2] = s
                #inputs = inputs.reshape(1,100,3)
                #print(inputs)
                #print(target,i)
                hist = model.train_on_batch(inputs,target,reset_metrics=False)
                #print(j)
                #print(hist)
                j += 1
            except:
                
                print(z)
                break
    print(f"Run Time: {time.perf_counter() - startTime}")
    print(model.metrics_names)
    print(hist)

model.summary()

epoch: 0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
Run Time: 10137.489121352992
['loss', 'accuracy']
[0.0, 0.1286952]
epoch: 1
0
1
2
3
4
5

In [853]:
data = pd.read_csv("./FlockData2/sample1/Flock0.csv")

In [854]:
data

    Unnamed: 0  heading       xcor       ycor nearest-neighbor
0            0    138.0   5.409268  11.607212      {turtle 95}
1            1     36.0  -0.273906  23.351505      {turtle 24}
2            2    333.5 -23.008609 -20.907030      {turtle 19}
3            3    171.0  29.255321 -17.202105       {turtle 7}
4            4    229.0  -5.615564  -6.508075      {turtle 79}
..         ...      ...        ...        ...              ...
95          95    163.0   3.300193  10.523441       {turtle 0}
96          96    195.0 -28.606687 -16.151167      {turtle 28}
97          97    327.0   8.523003 -27.302954      {turtle 13}
98          98     44.0  -9.782129 -17.488455      {turtle 88}
99          99    154.0 -12.400601 -25.464225       {turtle 5}

[100 rows x 5 columns]

In [14]:
x[0]

array([0, 51, -11.257439989152736, 10.630769666689213, False, 0, 0, 930.0],
      dtype=object)

In [16]:
data

,Unnamed: 0,heading,xcor,ycor,sick?,remaining-immunity,sick-time,age
0,0,51,-11.257440,10.630770,False,0,0,930.0
1,1,44,-2.362897,15.841234,False,0,0,137.0
2,2,72,-9.430460,-8.392363,False,0,0,234.0
3,3,277,6.136756,-15.891456,False,0,0,2091.0
4,4,199,-2.792280,-10.830074,True,0,1,1446.0
...,...,...,...,...,...,...,...,...
95,95,334,10.195878,-4.184493,False,0,0,1807.0
96,96,133,14.117419,-4.481686,False,0,0,1456.0
97,97,293,-7.854882,-8.621894,False,0,0,662.0
98,98,225,-16.804968,11.345687,False,0,0,477.0
99,99,240,-14.260687,8.349773,False,0,0,2437.0

In [17]:
d = pd.read_csv("./VirusData3/sample0/Flock0.csv")

,Unnamed: 0,heading,xcor,ycor,sick?,remaining-immunity,sick-time,age
0,0,61,7.013786929906611,-15.454478269450464,False,5.0,0.0,246.0
1,1,241,6.5647519526531015,9.153651747208142,False,41.0,0.0,2200.0
2,2,280,16.2305851595995,-1.7014778473373235,True,0.0,11.0,1555.0
3,3,312,-13.137895529721861,-4.9422270984384,False,4.0,0.0,1398.0
4,4,330,-7.485274248709061,-5.09413462989163,False,37.0,0.0,811.0
...,...,...,...,...,...,...,...,...
95,95,0,"""""",9.9,NaN,NaN,NaN,NaN
96,96,0,"""""",9.9,NaN,NaN,NaN,NaN
97,97,0,"""""",9.9,NaN,NaN,NaN,NaN
98,98,0,"""""",9.9,NaN,NaN,NaN,NaN
99,99,0,"""""",9.9,NaN,NaN,NaN,NaN

In [700]:
#norm info for virus
# area is 35x35
# but quards are divided by 17 to normalise [-17,17]
# age is out of 2600
# sick is bool
# dead is all 0
# how to represetn the time?
## first testing with just xcor/ycor/sick?
# output is whos sick
d = pd.read_csv("./VirusData3/sample0/Virus110.csv")

In [715]:
s = np.array(d['sick?']).astype('float').reshape(100)

In [702]:
x = np.array(d['xcor'])
x0 = np.zeros((100))
for i in range(100):
    try:
        x0[i] = float(x[i])/17
    except:
        pass
y = np.array(d['ycor'])
y0 = np.zeros(100)
for i in range(100):
    try:
        y0[i] = float(y[i])/17
    except:
        pass

In [703]:
x0
np.shape(y)
x0[0]

0.4658879245260742

In [711]:
bool(s[80] == np.nan)

False

In [488]:
inputs[0]

array([-0.66220235,  0.62533939,  0.        ])

In [721]:
b = s + np.zeros(100)
np.isnan(s[80])

np.where

True

In [456]:
array = np.arange(9)
array
array2D_1 = array.reshape((3,3))
array2D_1
 
array2D_2 = np.arange(10,19).reshape(3,3)
array2D_2

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [714]:
type(np.array(d['sick?'])[0])

bool

In [ ]:
data = pd.read_csv("/sample3/")